<table border="1">
  <tr>
  	<th>Исходное число</th>
    <th>Преобразованное число</th>
  </tr>
  <tr>
    <th>  <%= @n.to_i %> </th>
    <th>  <%= @result.to_i %> </th>
  </tr>
</table>
<%= link_to "Новое число", :calc_new %>
